{% extends "article/base.html" %}
{% load cache %}
{% load taggit_extras %}

{% block title %}
    Liste des articles
{% endblock %}

{% block meta %}
    <meta name="description" content="Les articles sont rédigés par la communauté ; ils permettent aussi bien de se tenir informé des dernières innovations du moment que de découvrir de nouvelles notions liées aux différents domaines de l'informatique." />
{% endblock %}

{% block header %}
    <h1>
        Articles
    </h1>
    <p>
        Les articles sont rédigés par la communauté ; ils permettent aussi bien
        de <strong>se tenir informé des dernières innovations</strong> du
        moment que de <strong>découvrir de nouvelles notions</strong> liées aux
        différents domaines de l'informatique.
    </p>
{% endblock %}

{% block headline %}
    Liste des articles
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="button-group">

        {% include "article/feeds.part.html" %}

        {% if user.is_authenticated %}
            <a href="{% url "pdp.article.views.new" %}" class="button">
                Nouvel article
            </a>
        {% endif %}

    </div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h2>À la une</h2>

        {% cache 120 articles-index %}
        {% if articles %}
            <div class="article-items">
                {% for article in articles %}
                    {% include "article/article_item.part.html" %}
                {% endfor %}
            </div>
            <a href="{% url "articles_category" "tous" %}" class="button">
                Voir tous les articles
            </a>
        {% else %}
            <p>Aucun article disponible.</p>
        {% endif %}
        {% endcache %}

    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h2>Catégories</h2>

        <ul class="inline-list">
            <li><a href="{% url "articles_category" "tous" %}">Tout les articles</a></li>
            {% for category in all_article_category %}
                <li><a href="{{ category.get_absolute_url }}">{{ category }} ({{ category.get_article_count }})</a></li>
            {% endfor %}
            {% if user.is_authenticated %}
                <li><a href="{% url "articles_category" "beta" %}">Bêta</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{# Validation stuff #}

{% if perms.article.change_article %}
<div class="row">
    <div class="large-12 columns">
        <h2>Articles en attente de validation</h2>
        {% cache 120 articles-pending %}
        {% if pending_articles %}
            <div class="article-items">
                {% for article in pending_articles %}
                    <div class="row article-publication-item">
                        <div class="small-1 columns">
                            {% with date=article.pubdate %}
                                {% include "misc/datebox.part.html" %}
                            {% endwith %}
                        </div>
                        <div class="small-8 columns">
                            <a href="{{ article.get_absolute_url }}">
                                {{ article.title }}
                            </a>
                            <p>
                                {{ article.description }}
                            </p>
                        </div>
                        <div class="small-3 columns">
                            <form action="{% url "pdp.article.views.modify" %}" method="post">
                                <div class="button-group even-2 expand">
                                    <button type="submit" class="button success" name="validate">
                                        Valider
                                    </button>
                                    <button type="submit" class="button alert" name="refuse">
                                        Refuser
                                    </button>
                                </div>
                                <input type="hidden" name="article" value="{{ article.pk }}">
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun article en attente de validation.</p>
        {% endif %}
        {% endcache %}
    </div>
</div>
{% endif %}

{% endblock %}
